#menu {
    min-width: 200px;
    width: 200px;
    background-color: black;
    color: white;
    border-right: 2px solid red;
}

#menu a {
    text-decoration: none;
    color: aliceblue;
}

#menu ul li {
    padding-top: 10px;
}

#menu ul li:hover {
    background-color: #87cefa;
}

#inhalt {
    display: flex;
    flex-direction: row;
}

#inhalt img {
    left: 0px;
}

#projektSection {
    width: 100%;
    height: 100%;
}

#projektForm {
    display: flex;
    flex-direction: column;
}

#projektHeader {
    position: sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    background-color: aliceblue;
    justify-content: space-between;
}

#projektHeader #titel{
    font-size: 2em;
    font-family: Arial;
    background-color: #98abbe;
}

#projektleiter {
    display: flex;
    justify-content: flex-end;
    background-color: #98abbe;
}

#kommentar {
    background-color: transparent;
}

#kommentar:focus {
    background-color: white;
}

.kleineresInputFeld {
    width: 10%;
}

@media screen and (min-width: 1920px) {
    header {
        background-image: url("assets/Projekt_erstellen1920.jpg");
    }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
    header {
        background-image: url("assets/Projekt_erstellen1280.jpg");
    }
}

@media screen and (min-width: 640px) and (max-width: 1279px) {
    header {
        background-image: url("assets/Projekt_erstellen640.jpg");
    }
}

@media screen and (min-width: 0px) and (max-width: 639px) {
    header {
        background-image: url("assets/Projekt_erstellen320.png");
    }
}