
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #F5FFFA;
}

#scroll_top{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
    padding: 10px;
    outline: none;
    border-radius: 10px;
    background-color: rgb(7, 7, 7);
    text-decoration: none;
    border: 3px black solid;
    color: #F5FFFA;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}


#login_bereich{
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: flex-end;
    background-color: rgba(29, 27, 27, 0.225);
    border: 0;
    outline: 0;
    border-radius: 10px;
    color: white;
    padding: 10px;
}

header form label{
    padding-top: 10px;
}

header form input[type="submit"] {
    margin-top: 10px;
}

#login_bereich form {
    display: flex;
    flex-direction: column; 
}

#login_bereich a{
  
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding-top: 10px;
}


nav {
    display: flex;
    background-color: black;
    border: 0;
    outline: 0;
    border-top: 3px solid #00BFFF;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center; 
    justify-content: center; 
}

nav a{
    font-size: 1.5em; 
    font-weight: bold;
    text-decoration: none;
    color:white;
    padding-left: 10px;
    padding-right: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center; 
}

nav ul li :hover {
  
    background-color: #87cefa;
}

nav h1{
   color: white;
}
nav img{
    background-color: rgb(237, 237, 237);
}

footer{
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

footer a{
    color: white;
    padding: 10px;
    text-decoration: none;
}




